<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo</title>
  <script src="script.js"></script>
</head>
<body>
  <div class="todo-1">
    <h1>Todo List practice 1</h1>
    <input placeholder="todo name">
    <button onclick="addtodo()">Add</button>
  </div>
  <div class="todo-2">
    <h1>Todo List practice 2</h1>
    <input placeholder="todo name">
    <button onclick="addtodo2()">Add</button>
    <div class="display"></div>
  </div>
</body>
</html>

